VITE_APIKEY=firebase-api-key
VITE_AUTHDOMAIN=firebase-auth-domain
VITE_PROJECTID=firebase-project-id
VITE_STORAGEBUCKET=firebase-storge-bucket
VITE_MESSAGINGSENDERID=firebase-messaging-sender-id
VITE_APPID=1:917513756018:web:something


# replace all variable according to firebase config 

# [for reference visit firebase](https://firebase.google.com/docs/web/setup?hl=en&authuser=0)